<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Ripply</h1>
            <hr>
            <p>Ripply is a community investment account, project management and social collaborator platform that runs on a donation model.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>